tro-tot-vn.code-workspace
.vscode/
**/volumes/
logs/
*.log
infras/compose/.env
.env
sync-service/
tro-tot-vn-fe/
tro-tot-vn-be/
search-service/
content-moderation-service/
recommend-service/
nha-tot-data/
/docs/
/sync-data/