volumes:
  db-trototvn:

services:
  db-trototvn:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: db-trototvn
    hostname: db-trototvn
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=${Sa_Password:-00hihiHIHI-}
      - MSSQL_PID=Developer
      - TZ=Asia/Ho_Chi_Minh
    ports:
      - 1433:1433
    volumes:
      - ${DOCKER_VOLUME_DIRECTORY:-.}/volumes/mssql:/var/opt/mssql
      - ${DOCKER_VOLUME_DIRECTORY:-.}/backup:/var/opt/mssql/backup

    restart: always
    healthcheck:
      test: /opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P "${Sa_Password:-00hihiHIHI-}" -Q "SELECT 1" -C -t 30 || exit 1
      interval: 15s
      retries: 5
      start_period: 30s
      timeout: 10s

  sqlserver.configurator:
    image: mcr.microsoft.com/mssql-tools
    container_name: sqlserver.configurator
    volumes:
      - ./db:/scripts
      - ./backup:/backup
    depends_on:
      db-trototvn:
        condition: service_healthy
    entrypoint: >
      bash -c " echo 'Waiting for SQL Server to be fully ready...'; sleep 15; echo 'Running initialization scripts...'; chmod +x /scripts/run-scripts.sh; /scripts/run-scripts.sh \"${Sa_Password:-00hihiHIHI-}\"; "

  debezium-trototvn:
    image: debezium/server:2.7.3.Final
    container_name: debezium-trototvn
    hostname: debezium-trototvn
    volumes:
      - ./debezium/application.properties:/debezium/conf/application.properties:ro
      - ${DOCKER_VOLUME_DIRECTORY:-.}/volumes/debezium:/debezium/data
    environment:
      - SA_PASSWORD=${Sa_Password:-00hihiHIHI-}
    depends_on:
      sqlserver.configurator:
        condition: service_completed_successfully
      redis-trototvn:
        condition: service_started
    restart: always

  redis-trototvn:
    image: redis:7.0-alpine
    container_name: redis-trototvn
    hostname: redis-trototvn
    ports:
      - 5555:6379
    volumes:
      - ${DOCKER_VOLUME_DIRECTORY:-.}/volumes/redis:/data
    command: redis-server --appendonly yes --appendfsync everysec --save 60 1000
    restart: always

  redis-insight-trototvn:
    image: redis/redisinsight:2.68
    container_name: redis-insight-trototvn
    hostname: redis-insight-trototvn
    ports:
      - 5540:5540
    restart: always
    depends_on:
      - redis-trototvn
    environment:
      - RI_REDIS_PORT=6379
      - RI_REDIS_HOST=redis-trototvn

  etcd-trototvn:
    container_name: etcd-trototvn
    hostname: etcd-trototvn
    image: quay.io/coreos/etcd:v3.5.18
    environment:
      - ETCD_AUTO_COMPACTION_MODE=revision
      - ETCD_AUTO_COMPACTION_RETENTION=1000
      - ETCD_QUOTA_BACKEND_BYTES=4294967296
      - ETCD_SNAPSHOT_COUNT=50000
    volumes:
      - ${DOCKER_VOLUME_DIRECTORY:-.}/volumes/etcd:/etcd
    command: etcd -advertise-client-urls=http://etcd-trototvn:2379 -listen-client-urls http://0.0.0.0:2379 --data-dir /etcd
    healthcheck:
      test: ["CMD", "etcdctl", "endpoint", "health"]
      interval: 30s
      timeout: 20s
      retries: 3
    restart: always

  minio-trototvn:
    container_name: minio-trototvn
    hostname: minio-trototvn
    image: minio/minio:RELEASE.2024-12-18T13-15-44Z
    environment:
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
    ports:
      - "9003:9001"
      - "9002:9000"
    volumes:
      - ${DOCKER_VOLUME_DIRECTORY:-.}/volumes/minio:/minio_data
    command: minio server /minio_data --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
    restart: always

  milvus-trototvn:
    container_name: milvus-trototvn
    hostname: milvus-trototvn
    image: milvusdb/milvus:v2.6.2
    command: ["milvus", "run", "standalone"]
    security_opt:
      - seccomp:unconfined
    environment:
      ETCD_ENDPOINTS: etcd-trototvn:2379
      MINIO_ADDRESS: minio-trototvn:9000
      MQ_TYPE: woodpecker
    volumes:
      - ${DOCKER_VOLUME_DIRECTORY:-.}/volumes/milvus:/var/lib/milvus
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9091/healthz"]
      interval: 30s
      start_period: 90s
      timeout: 20s
      retries: 3
    ports:
      - "19531:19530"
      - "9093:9091"
    depends_on:
      - etcd-trototvn
      - minio-trototvn
    restart: always

  attu-trototvn:
    image: zilliz/attu:v2.6
    container_name: attu-trototvn
    hostname: attu-trototvn
    environment:
      MILVUS_URL: milvus-trototvn:19530
    ports:
      - "8888:3000"
    depends_on:
      - milvus-trototvn
    restart: always

  sync-service-trototvn:
    image: lamdx4/sync-service-trototvn:1.0.0
    container_name: sync-service-trototvn
    environment:
      - REDIS_HOST=redis-trototvn
      - REDIS_PORT=6379
      - MILVUS_HOST=milvus-trototvn
      - MILVUS_PORT=19530
      - EMBEDDING_MODEL=lamdx4/bge-m3-vietnamese-rental-projection
      - EMBEDDING_DIM=128
      - DEVICE=cpu
      - WORKER_CONCURRENCY=5
    volumes:
      - ~/.cache/huggingface:/root/.cache/huggingface
    depends_on:
      - redis-trototvn
      - milvus-trototvn
    restart: always

  content-moderator-service:
    image: lamdx4/content-moderator-service:1.0.0
    container_name: content-moderator-service
    environment:
      - REDIS_HOST=redis-trototvn
      - REDIS_PORT=6379
      - MILVUS_HOST=milvus-trototvn
      - MILVUS_PORT=19530
      - EMBEDDING_MODEL=lamdx4/bge-m3-vietnamese-rental-projection
      - EMBEDDING_DIM=128
      - DEVICE=cpu
      - WORKER_CONCURRENCY=5
    volumes:
      - ~/.cache/huggingface:/root/.cache/huggingface
    depends_on:
      - redis-trototvn
      - milvus-trototvn
    restart: always

  coturn-trototvn:
    image: coturn/coturn:4.8.0-alpine
    container_name: coturn-trototvn
    restart: unless-stopped
    network_mode: "host"
    
    environment:
      # Cấu hình TURN server (nếu không dùng config file)
      - REALM=my-video-app.com
      - TURN_USER=myuser
      - TURN_PASSWORD=mypassword123
      - LISTENING_PORT=3478
      - MIN_PORT=49160
      - MAX_PORT=49200
      
      # Cấu hình giám sát IP
      - CHECK_INTERVAL=30000  # Kiểm tra mỗi 50 phút
    
    volumes:
      # Mount script và config
      - ./coturn/entrypoint.sh:/entrypoint.sh:ro
      - ./coturn/turnserver.conf:/etc/coturn/turnserver.conf:ro
    
    entrypoint: ["/bin/sh", "/entrypoint.sh"]
    
    healthcheck:
      test: ["CMD-SHELL", "ps aux | grep '[t]urnserver' || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

  recommend-service-trototvn:
    build:
      context: ./../../recommend-service
      dockerfile: Dockerfile
    container_name: recommend-service-trototvn
    environment:
      - REDIS_HOST=redis-trototvn
      - REDIS_PORT=6379
      - MILVUS_HOST=milvus-trototvn
      - MILVUS_PORT=19530
      - EMBEDDING_MODEL=lamdx4/bge-m3-vietnamese-rental-projection
      - EMBEDDING_DIM=128
      - DEVICE=cpu
      - WORKER_CONCURRENCY=5
    volumes:
      - ~/.cache/huggingface:/root/.cache/huggingface
    depends_on:
      - redis-trototvn
      - milvus-trototvn
    ports:
      - "8001:8001"
    restart: always

  search-service-trototvn:
    build:
      context: ./../../search-service
      dockerfile: Dockerfile
    container_name: search-service-trototvn
    environment:
      - REDIS_HOST=redis-trototvn
      - REDIS_PORT=6379
      - MILVUS_HOST=milvus-trototvn
      - MILVUS_PORT=19530
      - EMBEDDING_MODEL=lamdx4/bge-m3-vietnamese-rental-projection
      - EMBEDDING_DIM=128
      - DEVICE=cpu
      - WORKER_CONCURRENCY=5
    volumes:
      - ~/.cache/huggingface:/root/.cache/huggingface
    depends_on:
      - redis-trototvn
      - milvus-trototvn
    ports:
      - "8000:8000"
    restart: always

  moderation-service-trototvn:
    image: lamdx4/content-moderator-service:1.0.0
    container_name: moderation-service-trototvn
    environment:
      - REDIS_HOST=redis-trototvn
      - REDIS_PORT=6379
      - MILVUS_HOST=milvus-trototvn
      - MILVUS_PORT=19530
      - EMBEDDING_MODEL=lamdx4/bge-m3-vietnamese-rental-projection
      - EMBEDDING_DIM=128
      - DEVICE=cpu
      - WORKER_CONCURRENCY=5
    volumes:
      - ~/.cache/huggingface:/root/.cache/huggingface
    depends_on:
      - redis-trototvn
      - milvus-trototvn
    ports:
      - "8003:8003"
    restart: always

networks:
  default:
    name: trototvn
